/.idea
.idea/
.git/
/.git
/writable
/app/Config
.svn/
/.svn
icmisci4/
corePHP/
sharedsheet/
.env
info.php
/vendor
MasterJSON/state.json
/public/assets
/public/user_management
/public/uploaded_documents
/public/reports
/public/requisition
